
<header th:fragment="header"
	class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

	<!-- Logo / App Name -->
	<a th:href="@{/}"
		class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">

		<svg class="bi me-2" width="40" height="32" aria-hidden="true">
            <use xlink:href="#bootstrap"></use>
        </svg> <span class="fs-4">💰 Expense Tracker</span>
	</a>

	<!-- User Info -->
	<div class="d-flex align-items-center">

		<span class="me-3 fw-bold"> Welcome, <span
			th:text="${username}">User</span>
		</span>

		<form th:action="@{/signout}" method="post">
			<button type="submit" class="btn btn-outline-danger">Logout
			</button>
		</form>

	</div>

</header>

