/* =========================
   SIDEBAR
========================= */
.sidebar {
	position: fixed;
	top: 64px;
	left: 0;
	width: 220px;
	height: calc(100vh - 64px);
	background: #343a40;
	color: white;
	padding: 20px;
	overflow-y: auto;
}

.sidebar h2 {
	margin-bottom: 20px;
	font-size: 20px;
}

.sidebar a {
	display: block;
	color: #ddd;
	padding: 12px;
	margin-bottom: 8px;
	text-decoration: none;
	border-radius: 6px;
	transition: 0.3s;
}

.sidebar a:hover {
	background: #2563eb;
	color: white;
}
