/* =========================
   SIDEBAR
========================= */
.sidebar {
    width: 230px;
    background: #2c3e50;
}

.sidebar a {
    display: block;
    color: white;
    padding: 12px 18px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #34495e;
}

/* Submenu */
.submenu {
    display: none;
    background-color: #3b4b5b;
}

.submenu a {
    padding-left: 35px;
    font-size: 12px;
}

.submenu.show {
    display: block;
}