<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Expense Dashboard. Track your Expense</title>

<link rel="stylesheet" th:href="@{/css/dashboard.css}">
<link rel="stylesheet" th:href="@{/css/sidebar.css}">
<script th:src="@{/js/sidebar.js}" defer></script>
<script th:src="@{/js/categorysearch.js}" defer></script>

</head>



<body>
	<div th:replace="~{fragments/header :: header}"></div>

	<div class="container">

		<div th:replace="~{fragments/sidebar :: sidebar}"></div>

		<!-- MAIN CONTENT -->
		<div class="main-content">

			<h2>Search Category</h2>


			<div class="search-container">

				<form id="categorysearch" method="get">

					<div class="search-grid">

						<label>Name</label> <input type="text" name="name" 	id="name" th:value="${param.name}"> 
						<label>Status</label> <input type="text" name="status" id="status" th:value="${param.status}"> 
						<label>Created From</label> <input type="date" name="fromdate" id="fromdate" th:value="${param.fromDate}"> 
						<label>Created To</label> <input type="date" name="todate" id="todate" th:value="${param.toDate}">

					</div>




					<div class="buttons">
						<button type="reset">Clear</button>
						<button type="submit">Search</button>
					</div>

				</form>

			</div>

			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>SubCategory</th>
						<th>CreatedOn</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody id="categoryresultbody">

				</tbody>
			</table>
			<div class="pagination-container">

				<button id="prevBtn" class="page-btn">&laquo; Previous</button>

				<span id="pageInfo" class="page-info"> Page 1 of 1 </span>

				<button id="nextBtn" class="page-btn">Next &raquo;</button>

			</div>


		</div>
	</div>

	<div th:replace="~{fragments/footer :: dashboardFooter}"></div>
</body>

</html>