<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Expense Dashboard. Track your Expense</title>

<link rel="stylesheet" th:href="@{/css/dashboard.css}">

</head>
<script src="/js/app.js"></script>


<body>
	<div th:replace="~{fragments/header :: header}"></div>

	<div class="container">

		<!-- SIDEBAR -->
		<div class="sidebar">


			<a href="/dashboard">📊 Dashboard</a> <a href="/addexpense">💰
				Add Expense</a> <a href="/editexpense">📝 Edit Expense</a> <a
				href="/viewexpense">📊 View Expenses</a> <a href="/deleteexpense">🗑️
				Delete Expense</a>
		</div>

		<!-- MAIN CONTENT -->
		<div class="main-content">

			<h2>Manage your expenses</h2>


			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Category</th>
						<th>Amount</th>
						<th>Date</th>
					</tr>
				</thead>

				<tbody id="expenseTableBody">
					<tr th:each="expense : ${expenses}">
						<td th:text="${expense.id}"></td>
						<td th:text="${expense.category}"></td>
						<td th:text="${expense.amount}"></td>
						<td th:text="${expense.date}"></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

	<div th:replace="~{fragments/footer :: dashboardFooter}"></div>
</body>

</html>