<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

	<div class="login-box">

		<h2>Login</h2>
		<div th:if="${param.error}" class="error">
		  <span style="font-size:18px;">⚠️</span>
		Invalid username or password. Please try again.</div>
		
		<div th:if="${param.server}" class="error">
		  <span style="font-size:18px;">⚠️</span>
		Unable to connect server, Please try later.</div>

		<!-- Display success message when ?registered=true is present -->
		<div th:if="${param.success}" class="success">
		<span style="font-size:18px;">✅</span>
			Registration successful! Please log in.</div>
			
			<div th:if="${param.logout}" class="success">
		<span style="font-size:18px;">✅</span>
			Thanks , you are logged out successfully.</div>

		<form th:action="@{/login}" method="post">

			<input type="email" name="username" placeholder="Please enter email" id="username" required />

			<input type="password" name="password" placeholder="Password" id="password"
				required />

			<button type="submit">Sign In</button>

		</form>

		<div class="register-link">
			<p>
				New user? <a th:href="@{/register}">Create an account</a>
			</p>
		</div>

	</div>

</body>
</html>